<div class="horizontal-container">
    <div id="checklist" width="20%" class="horizontal-item1">
      <div id="checklist" width="20%" class="horizontal-item1">
            <div #list1="cdkDropList" cdkDropList [cdkDropListData]="workspace1Items" [cdkDropListConnectedTo]="[list2]" (cdkDropListDropped)="onDrop($event, workspace1Items)" class="workspace-container">
                <div *ngFor="let item of workspace1Items" cdkDrag class="workspace-item">{{ item }}</div>
            </div>
        
            <!-- <div #list2="cdkDropList" cdkDropList [cdkDropListData]="workspace2Items" [cdkDropListConnectedTo]="[list1]" (cdkDropListDropped)="onDrop($event, workspace2Items)" class="workspace-container">
                <div *ngFor="let item of workspace2Items" cdkDrag class="workspace-item">{{ item }}</div>
            </div> -->
        </div>
    </div>
  
    <div class="horizontal-item2">
      <!-- <div #canvasContainer="cdkDropList" cdkDropList [cdkDropListData]="canvasItems" [cdkDropListConnectedTo]="[list2]" (cdkDropListDropped)="onDrop($event, canvasItems)">
        <canvas #canvas id="canvas" style="width: -webkit-fill-available;">
        </canvas> 
      </div> -->
      <div #list2="cdkDropList" cdkDropList [cdkDropListData]="workspace2Items" [cdkDropListConnectedTo]="[list1]" (cdkDropListDropped)="onDrop($event, workspace2Items)" >
        <!-- <canvas #canvas id="canvas" style="width: -webkit-fill-available;"> -->
            <div *ngFor="let item of workspace2Items" cdkDrag class="workspace-item">{{ item }}</div>
        <!-- </canvas>  -->
    </div>
    </div>
  
    <div class="app-ace-editor" class="horizontal-item3" #editor style="width: 30%;"></div>
  </div>
  