<!-- <div id="canvas">
  <svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
      <defs>
          <pattern id="dottedGrid" width="20" height="20" patternUnits="userSpaceOnUse">
              <circle width="100%" cx="1" cy="1" r="1" fill="rgba(0, 0, 0, 0.25)"></circle>
          </pattern>
      </defs>
      <rect x="0" y="0" width="100%" height="100%" fill="url(#dottedGrid)"></rect>
  </svg>
</div> -->

<!-- <div id="container" style="display: flex;">
  <div id="left" style="margin: 10px;">
    <div class="bg-primary p-3">
      Left Container
    </div>
  </div>
  
  <div id="middle" style="flex: 1;margin: 10px;">
      <div id="canvas" style="position: relative; width: 100%; height: 100%;">
        <svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
            <defs>
                <pattern id="dottedGrid" width="20" height="20" patternUnits="userSpaceOnUse">
                    <circle width="100%" cx="1" cy="1" r="1" fill="rgba(0, 0, 0, 0.25)"></circle>
                </pattern>
            </defs>
            <rect x="0" y="0" width="100%" height="100%" fill="url(#dottedGrid)"></rect>
        </svg>
      </div>
  </div>
  
  <div id="right" style="margin: 10px;">
    <div class="bg-success p-3">
      Right Container
    </div>
  </div>
</div>

 -->
<div #canvasContainer>
  <canvas #canvas
        width="800"
        height="600"
        (click)="handleIconClick($event)">
  </canvas>

</div>
