<!-- <div id="canvas">
  <svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
      <defs>
          <pattern id="dottedGrid" width="20" height="20" patternUnits="userSpaceOnUse">
              <circle width="100%" cx="1" cy="1" r="1" fill="rgba(0, 0, 0, 0.25)"></circle>
          </pattern>
      </defs>
      <rect x="0" y="0" width="100%" height="100%" fill="url(#dottedGrid)"></rect>
  </svg>
</div> -->

<div id="container" style="display: flex;">
  <!-- Left Container -->
  <div id="left" style="margin: 10px;">
    <div class="bg-primary p-3">
      Left Container
    </div>
  </div>
  
  <!-- Middle Workspace -->
  <div id="middle" style="flex: 1;margin: 10px;">
    <div class="canvas-container" [style.width.px]="canvasWidth" [style.height.px]="canvasHeight">
      <canvas #canvasElement [width]="canvasWidth" [height]="canvasHeight"></canvas>
      <div class="draggable-object" cdkDrag (cdkDragMoved)="onObjectDrag($event)">
        <!-- Your draggable object content here -->
      </div>
      
    </div>    
  </div>
  
  <!-- Right Container -->
  <div id="right" style="margin: 10px;">
    <div class="bg-success p-3">
      Right Container
    </div>
  </div>
</div>


